@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

navbar-light navbar-brand {

    color: teal;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    color: yellowgreen;
}
footer {
    clear: both;
    font-size: 20px;
    text-align: center;
    padding: 30px 0;
    background: greenyellow;
    color:teal;
}

